$blue: #167ac6;
#ranges {
	  position: absolute;
	  z-index: 9999;
	  display: flex;
	  align-items: center;
	  top: 0;
	  left: 0;



	  p {
			padding: 20px;
			position: absolute;
			top: 0;
			margin: 0;
			overflow: hidden;
			padding-left: 0;
			left: 21px;
			&:hover {
				  input[type="range"] {
						opacity: 1;
						transform: rotate(0deg);
						transition-delay: 0s;
				  }

			}

			input[type=range] {
				  opacity: 0;
				  -webkit-appearance: none;
				  border: 1px solid white;
				  width: 300px;
				  transform: rotate(3deg);
				  transform-origin: 0 0 0;
				  transition: all .2s ease;
				  transition-delay: 3s;


				  &::-webkit-slider-runnable-track {
						width: 300px;
						height: 2px;
						background: rgb(255, 255, 255);
						border: none;
						border-radius: 3px;
				  }
				  &::-webkit-slider-thumb {
						-webkit-appearance: none;
						background: $blue;
						border-radius: 50%;
						background: rgb(255, 255, 255);
						border-style: solid;
						border-color: #3d3d3d;
						border-width: 3px;
						height: 31px;
						width: 31px;
						margin-top: -14px;
				  }
				  &:focus {
						outline: none;
				  }
				  &:focus::-webkit-slider-runnable-track {
						background: #ccc;
				  }
			}

			&.el_rotate {
				  transform: rotate(90deg);
				  transform-origin: 24px 27px 0;
				  top: 21px;
				  left: 0;
				  input {
						transform: rotate(-3deg);
				  }
			}

	  }

}

